<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"> <!--her angives at vi arbejder med thymeleaf og prefix th skal anvendes, når der skal kaldes attributter-->

<head>
    <meta charset="UTF-8">
    <title>Cocktails</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Liste med cocktails</h1>

<ul>
    <li th:each="cocktail : ${cocktailsList}">
        <a th:href="@{'cocktails/cocktail?name=' + ${cocktail.name}}" th:text="${cocktail.name}"></a>
    </li>

</ul>
</body>
</html>